bleach==1.5.0
cycler==0.10.0
enum34==1.1.6
ez-setup==0.9
h5py==2.7.1
html5lib==0.9999999
Keras==2.0.9
Markdown==2.6.9
matplotlib==2.1.0
mpmath==1.0.0
numpy==1.14.0
olefile==0.44
opencv-python==3.4.0
pandas==0.21.0
Pillow==4.3.0
protobuf==3.18.3
pygame==1.9.3
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyYAML==3.12
scipy==1.0.0
Shapely==1.6.3
six==1.11.0
tensorflow-gpu==1.4.0
tensorflow-tensorboard==0.4.0rc2
tifffile==2017.9.29
Werkzeug==0.12.2
